.nav-link.active {
    color: white !important;
}

.nav-link:not(.active){
    color: gray;
}

.jumbo {
    margin-left: 168px !important;
    width: 1214px !important;
}

.footer-styles {
    text-align: center;
    line-height: 100px;
}

